.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-block-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: var(--sombra-box);
    overflow: hidden;
}

.card-block-row {
    display: flex;
    align-items: center;
    height: 82%;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
}

.card-block {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: var(--sombra-box);
    overflow: hidden;
}

.body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
}

.btn-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}